div {
    text-align: center;
}

.task-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task {
    width: 200px;
    border: 1px solid #ccc;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 20px;

}