.main {
    display: flex;
}

hr {
    border: 2px solid black;
}

/* newpost */

.newpost {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 35%;
    margin-left: 10%;
    max-height: 350px;
}

.title {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.content {
    width: 100%;
    resize: vertical;
    min-height: 80px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    overflow: auto;
}

.newpostBtn {
    margin-left: auto;
    background-color: #007bff;
    color: #fff;
    padding: 8px 25px;
    border: none;
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
}

/* posts */

.postarea {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.post {
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    overflow: hidden;
    max-height: 200px;
    overflow-y: auto;
}

.post h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.post p {
    font-size: 14px;
    margin-bottom: 15px;
    max-height: 100px;
    overflow: hidden;
    word-wrap: break-word;
}

.updateBtn {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

.deleteBtn {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
}

/* update post */

.savePost {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 35%;
    margin-right: 10%;
    margin-left: auto;
}

.saveTitle {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.saveContent {
    width: 100%;
    resize: vertical;
    min-height: 80px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    overflow: auto;
}

.saveBtn {
    margin-left: auto;
    background-color: #00bb48;
    color: #fff;
    padding: 8px 25px;
    border: none;
    border-radius: 4px;
}